<div x-data="{passwordVisible:false}" class="w-full relative" >
    <input required name="password" class="inp w-full" :type="passwordVisible ? 'text' : 'password' " autocomplete="new-password"/>
    <button type="button" class="absolute top-0 right-0 h-full flex items-center px-2" style="pointer-events: all" @click="passwordVisible = !passwordVisible">
        <i :class="passwordVisible ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
    </button>
</div>