
{{#>layout title="NotesApp"}}
    <script type="module">
        const form = document.getElementById("login-form");
        form.addEventListener("submit",event =>{
            event.preventDefault();
            const formData = new FormData(form);
            fetch("/",{
                method:"POST",
                body:formData
            }).then(res => console.log(res.json()));
        })
    </script>
    <script>
        
    </script>
    <div
			class="flex w-screen h-screen bg-neutral-800 items-center justify-center text-white px-4"
		>
			<div class="form-container">
				<h1 class="title">Login</h1>
				<form method="post" class="flex flex-col gap-2" id="login-form">
                    <label for="email">
                        Email
                    </label>
					<input name="email" required class="inp" type="Email" aria-label="email"/>

					{{> password-input name="password" title="Password"}}
                    <div class="pt-2">
                        <button class="btn-primary" type="submit">Login</button>
                    </div>

				</form>

			</div>
		</div>
{{/layout}}
