
{{#> layout }}
    <div class="flex w-screen h-screen dark:bg-neutral-900 items-center justify-center">
        <p class="dark:text-white text-lg">
           hello!
        </p>
    </div>
{{/layout}}
